@using System;
@using System.Collections.Generic;
@using System.Linq;
@model List<Tuple<string,string,string,string>>

<table class="hovered">
    <tbody>
        <tr>
            <th>
                Error
            </th>
            <th>
                Occurences
            </th>
            <th>
                Last Reported
            </th>
            <th>
                Severity
            </th>

        </tr>
        @foreach(Tuple<string,string,string,string> row in @Model)
         {                    
               <tr>
                <td>
                    @row.Item1
                </td>
                <td>
                    @row.Item2
                </td>
                <td>
                    @row.Item3
                </td>
                 <td>
                       @if (@row.Item4 == "0")
                        {
                           <span class="square bg-color-orange"></span>
                        }                        
                        else
                        {
                           <span class="square bg-color-white"></span>
                        }
                   </td>
                </tr>       
        
          }
    </tbody>
</table>
