<script src="~/Scripts/pagecontrol.js" type="text/javascript"></script>
<div class="page-control" data-role="page-control" style="height: 100%">   
    <span class="menu-pull"></span>
    <div class="menu-pull-bar"></div>    
    <ul>
        
        <li class="active"><a href="#RequestsToday">Request Categorization Weekly trend</a></li>
        <li ><a href="#RequestsThisWeek">Over all Requests Weekly Trend</a></li>
        <li><a href="#Errors">Errors Weekly Trend</a></li>
      
    </ul>    
    <div class="frames">
        <div class="frame active" id="RequestsToday">@Html.Action("RequestsToday", "SLA");</div>
        <div class="frame" id="RequestsThisWeek">@Html.Action("RequestsThisWeek", "SLA");</div>
        <div class="frame" id="Errors">@Html.Action("ErrorsThisWeek", "SLA");</div>
       
    </div>

</div>


