@using System;
@using System.Collections.Generic;
@using System.Linq;
@model List<Tuple<string, string, string>>
<div class="fg-color-darken">
    <table class="hovered">
        <tbody>
            <tr>
                <th>
                    JobInstanceName
                </th>
                <th>
                    Status
                </th>
                <th>
                    Last completed
                </th>

            </tr>
            @if (@Model != null)
            { 
            foreach (Tuple<string, string, string> jobDetail in @Model)
            {
                <tr>
                    <td>
                        @jobDetail.Item1
                    </td>
                    <td>
                        @if (jobDetail.Item2.Equals("True"))
                        {
                            <span class="square bg-color-green"></span>
                        }
                        else
                        {
                            <span class="square bg-color-red"></span>
                        }
                    </td>
                    <td>
                        @jobDetail.Item3
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>

