<script type="text/javascript">
     function UpdateTMStatus() {
        $.ajax({
            url: '@Url.Action("TrafficManager_GetEndpointStatus", "AzureManagement", new { endpoint = 0 })',
            type: "GET",
            dataType: 'json',
            success: function (result) {
                $("#endpoint1").html(result);
            }
        });
         $.ajax({
             url: '@Url.Action("TrafficManager_GetEndpointStatus", "AzureManagement", new { endpoint = 1 })',
             type: "GET",
             dataType: 'json',
             success: function (result) {
                 $("#endpoint2").html(result);
             }
         });
         window.setTimeout(UpdateStatus, 5000 * 60);
     };
</script>


<div class="tile double outline-color-green" data-role="tile-slider" data-param-period="25000" id="TrafficManagerDiv"  title="Traffic manager status">
    <div id="endpoint1" class="tile-content bg-color-red">
    </div>
    <div id="endpoint2" class="tile-content bg-color-red">
    </div>   
    <div class="brand bg-color-red">
        <p class="text"><em>Traffic Manager endpoints</em></p>
    </div>

</div>
