
<div class="page-control" data-role="page-control" style="width: 800px;">
    <!-- Responsive controls -->
    <span class="menu-pull"></span>
    <div class="menu-pull-bar"></div>
    <!-- Tabs -->
    <ul>
        <li class="active"><a href="#Daily">Daily</a></li>
        <li><a href="#Weekly">Weekly</a></li>
        <li><a href="#Monthly">Monthly</a></li>

    </ul>
    <!-- Tabs content -->
    <div class="frames">
        <div class="frame active" id="Daily">..tdb..</div>
        <div class="frame" id="Weekly">..tbd..</div>
        <div class="frame" id="Monthly">@Html.Action("Monthly", "Trending") </div>
    </div>
</div>
