<script src="~/Scripts/pagecontrol.js" type="text/javascript"></script>
<div class="page secondary with-sidebar">
    <div class="page-header">
        <div class="page-header-content" id="headercontent">
            <h1 id="title">Trending<small>Detail</small></h1>
            <a href="/" id="backbutton" class=" back-button big page-back"></a>
        </div>
    </div>
</div>
<div class="page-control" data-role="page-control" style="width: 900px;">   
    <span class="menu-pull"></span>
    <div class="menu-pull-bar"></div>    
    <ul>
        <li class="active"><a href="#Packages">Packages Upload Weekly Trend</a></li>
        <li><a href="#UsersThisWeek">Users Weekly Trend</a></li>
        <li><a href="#VsTrending">VS Download Trend</a></li>
        <li><a href="#OperationTrending">Packages Download Operation Trend</a></li>
    </ul>    
    <div class="frames">
        <div class="frame active" id="Packages">@Html.Action("PackagesThisWeek", "Trending");</div>
        <div class="frame" id="UsersThisWeek">@Html.Action("UsersThisWeek", "Trending");</div>
        <div class="frame" id="VsTrending">@Html.Action("VsDownloadTrend", "Trending")</div>
        <div class="frame" id="OperationTrending">@Html.Action("DonwloadOperationTrend", "Trending")</div>

    </div>
</div>
