@using System;
@using System.Collections.Generic;
@using System.Linq;
@using NuGet.Services.Dashboard.Common;
@model Dictionary<string,string>

<div class="fg-color-darken" style="width:600px">
    <p>Below table shows the Vs trend from download status (last 120 days)</p>
    <table class="hovered">
        <tbody>
            <tr>
                <th>
                    VS Version
                </th>
                <th>
                    Download Number
                </th>
            </tr>
            @foreach (KeyValuePair<string,string> request in @Model)
            {
                <tr>
                    <td>
                        @request.Key
                    </td>
                    <td>
                        @request.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

