<script type="text/javascript">
     function UpdateSearchStatus() {
        $.ajax({
            url: '@Url.Action("GetSearchServiceStatus", "SearchService")',
            type: "GET",
            dataType: 'json',
            success: function (result) {
                $("#searchStatus").html(result);
            }
        });
         window.setTimeout(UpdateStatus, 5000 * 60);
     };
</script>


<div class="tile double outline-color-green" data-role="tile-slider" data-param-period="25000" id="SearchServiceDiv" title="Search service status">
    <div id="searchStatus" class="tile-content bg-color-red">
    </div>
    <div class="brand bg-color-red">
        <p class="text"><em>search cpu and memory status</em></p>
    </div>

</div>

