
<div class="tile" data-role="tile-slider" data-param-period="20000" id="ResourceMonitoringDiv" title="Resource Monitoring">
    <div class="tile-content bg-color-green">
        <h1>Gallery Instances</h1>
        <br />
        <div id="CurrentInstanceCount" class="badge"><h1>3</h1></div>
    </div> 
    @*<div class="brand bg-color-green">
        <p class="text"><em>Resource Monitoring</em></p>
    </div>*@
</div>
